{
  "extends": [
    "airbnb-typescript/base",
    "plugin:@typescript-eslint/recommended",
    "plugin:@typescript-eslint/recommended-requiring-type-checking"
  ],
  "parserOptions": {
    "project": "./tsconfig.json"
  },
  "rules": {
    "no-underscore-dangle": "off",
    "func-names": "off",
    "implicit-arrow-linebreak": ["error", "below"],
    "no-use-before-define": "off",
    "no-param-reassign": "off",
    "@typescript-eslint/no-non-null-assertion": "off"
  }
}